.trusted{
    margin: 0px 100px;
}
.trusted__cards{
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 77px;
} 
.trusted__card{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}
   
.trusted__card div > img{
    height: 35%;
    margin-bottom: 32px;
}
.trusted__hr{
    border: 1px solid #d7d7dd49;
    height: 100%;
}
@media only screen and (max-width:768px){
    .trusted{
        margin: 0px 39px;
    }
    .trusted__cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 40px;
    }
    .trusted__card div > img{
        margin-bottom: 24px;
    }

}
@media only screen and (max-width:375px){
    .trusted{
        margin: 0px 15px;
    }
    .trusted__cards{
        gap: 10px;
    }
    .trusted__card > div > img{
        max-width: 70px;
    }
}